<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="customers">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %marker %m %X %ex %n"/>
        </Console>
        <Socket name="logstash" host="5692a494-a11b-4296-a8c8-244953389a7a-ls.logit.io" port="23889">
            <JSONLayout complete="false" compact="true" eventEol="true" charset="UTF-8" properties="true"/>
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="console" level="info"/>
            <AppenderRef ref="logstash" level="trace"/>
        </Root>
        
    </Loggers>
</Configuration>